.env
.env.*
!.env.example
vendor
node_modules
public/build
public/hot
public/storage
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
.git
.github
.gitignore
.gitattributes
.styleci.yml
.editorconfig
*.md
docker-compose*.yml
phpunit.xml
tests
